#contenedor
{
  margin: 10px;
  background-color: antiquewhite;
}
#cabecera
{
  margin: 10px;
   background-color: aquamarine;
}
#Barravinc
{
  margin: 10px;
    float: left;
    height: 100%;
    width: 30%;
  background-color: deeppink;
}
#contenido
{
  margin: 10px;
    float: right;
    height: 100%;
    width: 70%;
  background-color: indigo;
}
#cuadroimg
{
    
    height: 100%;
    width: 70%;
  background-color: khaki;
}
